.doterra {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100%;

  color: var(--Marron);
}

.doterra-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 50px;
  padding: 20px 50px;
}

.doterra-titre span,
.doterra-titre-2 span {
  font-family: "Alice", cursive;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 100;
  justify-self: flex-start;

  color: var(--Marron);
}

.doterra-titre-2 {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.doterra-titre-2 img {
  width: 150px;
}

.doterra-titre-3 {
  text-align: justify;
}

.doterra-enfant {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 20px;
}

.doterra-enfant-2-image {
  width: 100%;
}

.doterra-enfant-2-text {
  text-align: justify;
}

.doterra-enfant-1 {
  padding: 20px 50px 0px 50px;
}

.doterra-enfant-huiles {
  display: flex;
  width: 100%;
  padding: 20px 5px;
  font-size: clamp(0.67rem, 2vw, 1rem);
}

.doterra-enfant-huiles ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doterra-enfant-huiles li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.doterra-enfant-huiles li span {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

.doterra-enfant-huiles li img {
  width: 25%;
  object-fit: contain;
}

.doterra-enfant-2 {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 20px 50px;
  gap: 20px;
}

.doterra-enfant-text-2 {
  padding: 20px 50px;
}

.doterra-famille,
.doterra-parent,
.doterra-emotion,
.doterra-fertilite,
.doterra-menopause {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 20px;
  padding: 20px 50px;
}

.doterra-famille,
.doterra-parent,
.doterra-emotion {
  background-color: var(--BeigeFonce);
}

.doterra-famille img,
.doterra-parent img,
.doterra-fertilite img,
.doterra-emotion img,
.doterra-menopause img {
  width: 50%;
}

.doterra-enfant img,
.doterra-emotion img {
  width: 75%;
}

.doterra-famille-1,
.doterra-enfant-1,
.doterra-parent-1,
.doterra-emotion-1,
.doterra-fertilite-1,
.doterra-emotion-1,
.doterra-menopause-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.doterra-famille-1-intro,
.doterra-enfant-1-intro,
.doterra-parent-1-intro,
.doterra-fertilite-1-intro,
.doterra-emotion-1-intro,
.doterra-menopause-1-intro {
  text-align: justify;
}

.doterra-famille-2,
.doterra-parent-2,
.doterra-fertilite-2,
.doterra-emotion-2,
.doterra-menopause-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.doterra-famille-2-text,
.doterra-parent-2-text,
.doterra-fertilite-2-text,
.doterra-emotion-2-text,
.doterra-menopause-2-text {
  text-align: justify;
}

.doterra-color-text {
  color: var(--Signature);
}

.doterra-famille-text-desktop,
.doterra-enfant-text-desktop,
.doterra-parent-text-desktop,
.doterra-fertilite-text-desktop,
.doterra-emotion-text-desktop,
.doterra-menopause-text-desktop {
  display: none;
}

.doterra-logo {
  background-color: var(--BeigeFonce);
}

.doterra-logo img {
  width: 150px;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .doterra-hero {
    align-items: start;
  }

  .doterra-famille-text-desktop,
  .doterra-enfant-text-desktop,
  .doterra-parent-text-desktop,
  .doterra-fertilite-text-desktop,
  .doterra-emotion-text-desktop,
  .doterra-menopause-text-desktop {
    display: block;
  }

  .doterra-famille-text-mobile,
  .doterra-enfant-text-mobile,
  .doterra-parent-text-mobile,
  .doterra-fertilite-text-mobile,
  .doterra-emotion-text-mobile,
  .doterra-menopause-text-mobile {
    display: none;
  }

  .doterra-enfant-image {
    width: fit-content;
  }

  .doterra-enfant-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .doterra-enfant-huiles {
    padding: 20px 50px;
    justify-content: center;
  }

  .doterra-enfant-huiles ul {
    width: fit-content;
  }

  .doterra-enfant-huiles ul li {
    justify-content: space-between;
  }

  .doterra-enfant-huiles ul li img {
    width: clamp(100px, 25vw, 250px);
  }

  .doterra-enfant-text-2-prim {
    display: flex;
    flex-direction: column;

    width: 950px;
    align-items: end;
  }

  .doterra-enfant-text-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .doterra-famille,
  .doterra-enfant,
  .doterra-parent,
  .doterra-fertilite,
  .doterra-emotion,
  .doterra-menopause {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .doterra-famille-1,
  .doterra-parent-1,
  .doterra-emotion-1 {
    text-align: start;
    width: 100%;
  }

  .doterra-enfant-1,
  .doterra-fertilite-1,
  .doterra-menopause-1 {
    text-align: end;
    width: 100%;
  }

  .doterra-famille-1-intro,
  .doterra-enfant-1-intro,
  .doterra-parent-1-intro,
  .doterra-fertilite-1-intro,
  .doterra-emotion-1-intro,
  .doterra-menopause-1-intro {
    line-height: 1.5;
  }

  .doterra-enfant-1-intro,
  .doterra-fertilite-1-intro,
  .doterra-menopause-1-intro {
    text-align: end;
  }

  .doterra-famille-2,
  .doterra-parent-2,
  .doterra-emotion-2 {
    display: flex;
    flex-direction: row;

    gap: 20px;
    line-height: 1.5;
  }

  .doterra-enfant-2,
  .doterra-fertilite-2,
  .doterra-menopause-2 {
    display: flex;
    flex-direction: row-reverse;

    gap: 20px;
    line-height: 1.5;
  }

  .doterra-famille-2-image,
  .doterra-enfant-2-image,
  .doterra-parent-2-image,
  .doterra-fertilite-2-image,
  .doterra-emotion-2-image,
  .doterra-menopause-2-image {
    width: 50%;
    text-align: center;
  }

  .doterra-parent-2-image img,
  .doterra-fertilite-2-image img,
  .doterra-menopause-2-image img {
    width: clamp(100px, 25vw, 200px);
  }

  .doterra-famille-2-image img,
  .doterra-enfant-2-image img,
  .doterra-emotion-2-image img {
    width: clamp(100px, 25vw, 350px);
  }

  .doterra-famille-2-text,
  .doterra-enfant-2-text,
  .doterra-parent-2-text,
  .doterra-fertilite-2-text,
  .doterra-emotion-2-text,
  .doterra-menopause-2-text {
    width: 50%;
  }
}
