.services {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: justify;

  color: var(--Marron);
}

.services-hero {
  position: relative;
  width: 100%;
  max-height: 500px;
}

.services-hero img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

.services-hero-citation {
  display: flex;
  flex-direction: column;

  width: 90%;
  gap: 15px;
  padding: 20px;
  border-radius: 20px;

  font-size: 16px;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  color: var(--Beige);
  background-color: #7a5c5890;
}

.citation {
  font-size: 32px;
}

.services-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 10px;
  padding: 20px 50px;
}

.services-btn-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.section-services {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 50px 20px;
  gap: 15px;
}

.services-card-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 20px;
}

.services-card {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 450px;
  width: 90%;
  max-width: 335px;
  padding: 20px;

  font-weight: bold;
  background-color: var(--BeigeFonce);

  border-radius: 30px;
}

.services-card-head {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  height: 120px;
}

.services-card-head img {
  height: 120px;
}

.services-card-head-droite {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 5px;
}

.service-card-titre {
  text-align: center;
  font-size: 18px;
  color: var(--Signature);
}

.services-card-head-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.services-card ul {
  list-style: disc;
  padding-left: 20px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services-card ul.sans-puce {
  list-style: none;
  padding: 0 20px;
}

.services-card li {
  text-align: start;
}

.services-card a {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.naturopathie {
  background-color: var(--BeigeFonce);
}

.naturopathie .services-card {
  height: 315px;
  background-color: #fdf4ed;
}

.services-card-body {
  margin-top: 20px;
  padding: 0 20px;
  text-align: start;
}

.cycle-feminin .services-card {
  height: 315px;
}

@media (min-width: 1200px) {
  .citation {
    font-size: 48px;
  }

  .services-hero-citation {
    font-size: 28px;
    gap: 30px;
  }

  .services-btn {
    flex-direction: row;
    justify-content: space-between;
  }

  .services-btn-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-services {
    align-items: flex-start;
    padding: 50px;
  }

  .services-card-group {
    flex-direction: row;
    justify-content: space-around;
  }

  .services-card {
    height: 550px;
    width: 430px;
  }

  .services-card-head {
    flex-direction: column;

    height: 180px;
    gap: 15px;
  }

  .naturopathie .services-card,
  .cycle-feminin .services-card {
    height: 350px;
    
  }
}
