@import url("variables.css");
@import url("header.css");
@import url("footer.css");
@import url("accueil.css");
@import url("qui-suis-je.css");
@import url("services.css");
@import url("tarifs.css");
@import url("partenaires.css");
@import url("contact.css");
@import url("mentions-legales.css");


/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Alice", serif;
}

h1 {
  font-family: "Windsong", cursive;
  font-size: clamp(1rem, 10vw, 3rem);
  font-weight: 500;

  color: var(--Marron);
}

h2 {
  font-family: "Windsong", cursive;
  font-size: clamp(1rem, 8vw, 2.5rem);
  font-weight: 400;

  color: var(--Marron);
}

h3 {
  font-family: "Italianno", cursive;
  font-size: clamp(1rem, 10vw, 3rem);
  font-weight: 400;

  color: var(--Marron);
}

h4 {
  font-family: "Alice", cursive;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 100;
  text-decoration: underline;
  justify-self: flex-start;

  color: var(--Marron);
}

.font-italianno {
  font-family: "Italianno", cursive;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  transition: 0.3s;
}

.btn {
  background-color: var(--Vert);
  padding: 10px 15px;
  border-radius: 50px;
  color: var(--Beige);

  text-align: center;

  font-size: clamp(1rem, 4vw, 1.5rem);
}

.btn-mid{
  background-color: var(--Beige);
  padding: 10px 15px;
  border-radius: 50px;
  color: var(--Marron);

  text-align: center;

  font-size: clamp(1rem, 4vw, 1.5rem);
}

.btn-clair{
  background-color: var(--SignatureClaire);
  padding: 10px 15px;
  border-radius: 50px;
  color: var(--Marron);

  text-align: center;

  font-size: clamp(1rem, 4vw, 1.5rem);
}

main {
  flex: 1;
  background-color: var(--Beige);
}

#header {
  position: sticky;
  top: 0;
  z-index: 100;
}



