.tarifs {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: justify;

  color: var(--Marron);
}

.tarifs-hero {
  width: 100%;
  max-height: 500px;
}

.tarifs-hero img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

.tarifs-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 10px;
  padding: 20px 50px;
}

.tarifs-btn-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.section-tarifs {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 50px 20px;
  gap: 15px;
}

.tarifs-card-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 20px;
}

.tarifs-card {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 350px;
  width: 90%;
  max-width: 335px;
  padding: 20px;
  gap: 20px;

  font-weight: bold;
  background-color: var(--BeigeFonce);

  border-radius: 30px;
}

.tarifs-card-head {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  height: 120px;
}

.tarifs-card-head img {
  height: 120px;
}

.tarifs-card-head-droite {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 5px;
}

.tarifs-card-titre {
  text-align: center;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  color: var(--Signature);
}

.tarifs-card ul {
  list-style: none;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tarifs-card li {
  text-align: start;
  font-size: clamp(0.8rem, 3.8vw, 1rem);
}

.prix {
  font-size: clamp(1rem, 12vw, 1.5rem);
}

/* La classe naturopathie est la même que dans services */

.naturopathie .tarifs-card {
  height: 315px;
  background-color: #fdf4ed;
}

.naturopathie li,
.cycle-feminin li {
  text-align: center;
}

.cycle-feminin .tarifs-card {
  height: 315px;
}

@media (min-width: 1200px) {
  .tarifs-btn {
    flex-direction: row;
    justify-content: space-between;
  }

  .tarifs-btn-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-tarifs {
    align-items: flex-start;
    padding: 50px;
  }

  .tarifs-card-group {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .tarifs-card {
    height: 450px;
    width: 430px;
  }

  .tarifs-card-head {
    flex-direction: column;

    height: 190px;
    gap: 15px;
  }

  .naturopathie .tarifs-card,
  .cycle-feminin .tarifs-card {
    height: 350px;
  }
}
