/* Couleurs personnalisées */

:root {
  --Signature: #EE826D;
  --SignatureMid: #FFAE94;
  --SignatureClaire: #FAD4C8;
  --Beige: #F3E8E2;
  --BeigeFonce: #F3E1D2;
  --Marron: #7A5C58;
  --Vert : #9CAF9C;
}